---
import Layout from '../layouts/Layout.astro';
import photo from '../photos/photo.jpg';
import python from '../photos/python-logo.png';
import r from '../photos/r-logo.jpg';
import cpp from '../photos/c++.png';
import ros from '../photos/ros-logo.png';
import react from '../photos/react-logo.png';
import astro from '../photos/astro-logo.png';
import html from '../photos/html-logo.png';
import css from '../photos/css-logo.png';
import javascript from '../photos/javascript-logo.png';
import tailwind from '../photos/tailwind-logo.png';
---

<Layout title="About Me">
	<main class="max-width-screen-lg">
		<div class="sm:grid lg:flex lg:flex-row-reverse mx-auto w-1/2">
			<img src={photo} alt="" class="mt-4 rounded-lg shadow-lg mx-auto lg:w-1/2 border-2 border-blue-500">
			<div class="my-auto">
				<h1 class="text-4xl text-blue-500 font-bold">About Me</h1>
				<p class="mt-4 text-white mr-12">
					I am a second year computer science student at Memorial University of Newfoundland. My interests are robotics and machine learning. 
					I enjoy solving problems while improving my programming skills.
				</p>
			</div>
		</div>
		<div class="rounded-lg mt-12 grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-10 place-items-center xl:place-items-evenly 
		w-11/12 mx-auto bg-white py-4 justify-center items-center border-2 border-blue-500 gap-4">
			<img class="w-40 mx-8" src={python} alt="">
			<img class="w-40 mx-8" src={r} alt="">
			<img class="w-40 mx-8" src={cpp} alt="">
			<img class="w-40 mx-8" src={ros} alt="">
			<img class="w-40 mx-8" src={react} alt="">
			<img class="w-40 mx-8 bg-gray-900 rounded-xl" src={astro} alt="">
			<img class="w-40 mx-8" src={html} alt="">
			<img class="w-28 mx-8" src={css} alt="">
			<img class="w-40 mx-8" src={javascript} alt="">
			<img class="w-40 mx-8" src={tailwind} alt="">
		</div>
	</main>
</Layout>
